@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}

html,
body {
  overscroll-behavior: none;
}

body {
  overflow-y: hidden;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0E1016;
}

::-webkit-scrollbar-thumb {
  background: #212531;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a2f3d;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #212531 #0E1016;
}
